html {
  background-color: rgb(16, 94, 238);
}

.highlight {
  border: 1px solid rgb(86, 180, 239);
}

.calculatorDisplay {
  margin-bottom: 5px;
  height: 20px;
  width: 160px;
  background-color: white;
}

button {
  background-color: #F0F8FF;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
